yolov5/
check_cache/
# Allow important test images for red license plates
!test_image/
!test_image/*.jpg
!test_image/*.png
/draw_image.py
/test.py
/res.jpg
cache.jpg
cache_ch.jpg
edge.jpg
line.jpg
crop.jpg
